<ul class="nav nav-tabs">
    <li class="active">
        <a href="{{ url('admin-mgc-users') }}infos/{{ user.id }}"><i class="fa fa-user"></i> Informations</a>
    </li>
    <li class="">
        <a href="{{ url('admin-mgc-users') }}permissions/{{ user.id }}"><i class="fa fa-list-alt"></i> Droits</a>
    </li>
    <li class="">
        <a href="{{ url('admin-mgc-users') }}design/{{ user.id }}"><i class="fa fa-paint-brush"></i> Design</a>
    </li>
    <li class="">
        <a href="{{ url('admin-mgc-users') }}shortcuts/{{ user.id }}"><i class="fa fa-star"></i> Raccourcis</a>
    </li>
    <li class="">
        <a href="{{ url('admin-mgc-users') }}gadgets/{{ user.id }}"><i class="fa fa-puzzle-piece"></i> Gadgets</a></a>
    </li>
</ul>

<!--
<ul class="nav nav-tabs">
    <li {if $tpl_nav_active=='user_infos'}class="active"{/if}><a href="{$smarty.const.SITE_URL}mod_admin/user_infos/{$user->getId()}"><i class="fa fa-user"></i> Informations</a></li>
    <li {if $tpl_nav_active=='user_permissions'}class="active"{/if}><a href="{$smarty.const.SITE_URL}mod_admin/user_permissions/{$user->getId()}"><i class="fa fa-list-alt"></i> Droits</a></li>
    <li {if $tpl_nav_active=='user_design'}class="active"{/if}><a href="{$smarty.const.SITE_URL}mod_admin/user_design/{$user->getId()}"><i class="fa fa-paint-brush"></i> {$txt_lg->translate('design')|ucfirst}</a></li>
    <li {if $tpl_nav_active=='user_shortcuts'}class="active"{/if}><a href="{$smarty.const.SITE_URL}mod_admin/user_shortcuts/{$user->getId()}"><i class="fa fa-star"></i> Raccourcis</a></li>
    <li {if $tpl_nav_active=='user_gadgets'}class="active"{/if}><a href="{$smarty.const.SITE_URL}mod_admin/user_gadgets/{$user->getId()}"><i class="fa fa-puzzle-piece"></i> Gadgets</a></li>
    <li {if $tpl_nav_active=='user_timeline'}class="active"{/if}><a href="{$smarty.const.SITE_URL}mod_admin/user_timeline/{$user->getId()}"><i class="fa fa-calendar"></i> {$txt_lg->translate('timeline')|ucfirst}</a></li>
    <li {if $tpl_nav_active=='user_stats'}class="active"{/if}><a href="{$smarty.const.SITE_URL}mod_admin/user_stats/{$user->getId()}"><i class="fa fa-area-chart"></i> {$txt_lg->translate('stats')|ucfirst}</a></li>
    <li {if $tpl_nav_active=='user_sessions'}class="active"{/if}><a href="{$smarty.const.SITE_URL}mod_admin/user_sessions/{$user->getId()}"><i class="fa fa-desktop"></i> {$txt_lg->translate('devices')|ucfirst}</a></li>
</ul>
-->