<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>AdminLTE 2 | Starter</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('adminlte/dist/css/original-AdminLTE-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('adminlte/dist/css/original-AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('adminlte/dist/css/original-AdminLTE-all-skins.min.css') }}">
    <link rel="stylesheet" href="{{ asset('adminlte/dist/css/mgc.css') }}">
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    {% include 'default/inc/menu.html.twig' %}
    {% include 'default/inc/sidebar-left.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'default/inc/footer.html.twig' %}
    {% include 'default/inc/sidebar-right.html.twig' %}

</div>

<script src="{{ asset('adminlte/dist/js/original-AdminLTE-jquery-2.2.3.min.js') }}"></script>
<script src="{{ asset('adminlte/dist/js/original-AdminLTE-bootstrap.min.js') }}"></script>
<script src="{{ asset('adminlte/dist/js/original-AdminLTE-app.min.js') }}"></script>
<script src="{{ asset('adminlte/dist/js/mgc.js') }}"></script>

{% block javascripts %}{% endblock %}

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>