{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {{ 'mgc.global.administration'|trans({}, "messages", app.request.locale)|capitalize }}
                <small>{{ 'mgc.home.content_manager'|trans({}, "messages", app.request.locale)|capitalize }}</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-home"></i> {{ 'mgc.global.home'|trans({}, "messages", app.request.locale)|capitalize }}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-4">
                    <div class="box box-primary">
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                <li class="item">
                                    <div class="product-img">
                                        <img class="img-circle" src="{{ asset('uploads/avatars/_alexandre.png') }}" alt="Product Image">
                                    </div>
                                    <div class="product-info">
                                        <a href="{{ url('profile') }}" class="product-title">{{ app.user.getFname() }} {{ app.user.getSname() }}</a>
                                        <span class="product-description">{{ app.user.getCompanyJob() }}</span>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="product-img">
                                        <img class="img-circle" src="{{ asset('adminlte/dist/img/icons/icon_help_128x128.png') }}" alt="Product Image">
                                    </div>
                                    <div class="product-info">
                                        <a href="{{ url('faq') }}" class="product-title">{{ 'mgc.global.help'|trans({}, "messages", app.request.locale)|capitalize }}</a>
                                        <span class="product-description">{{ 'mgc.home.a_question_we_have_the_answer'|trans({}, "messages", app.request.locale)|capitalize }}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">

                        {% for widget in home_widgets %}
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box {{ widget.getBackground() }}">
                                <div class="inner">
                                    <h3>{{ widget.getMainValue() }}</h3>
                                    <p>{{ widget.getMainText() }}</p>
                                </div>
                                <div class="icon">
                                    <i class="{{ widget.getMainIcon() }}"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    {{ widget.getFooterText() }} <i class="{{ widget.getFooterIcon() }}"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="row">

                {% for thumbnail in home_thumbnails %}
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <div class="thumbnail home-thumbnail">
                            {% if thumbnail.getMainPictureType() == 'image' and thumbnail.getMainImage() is not empty %}
                                <img src="{{ thumbnail.getMainImage() }}" alt="{{ thumbnail.getMainText() }}" />
                            {% elseif thumbnail.getMainPictureType() == 'icon' %}
                                <i class="{{ thumbnail.getMainIcon() }}"></i>
                            {% endif %}

                            <div class="caption">
                                <a href="{{ thumbnail.getMainLink() }}" class="btn btn-default btn-block" role="button">{{ thumbnail.getMainText() }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </section>
    </div>
{% endblock %}
