{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Page Header
                <small>Optional description</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div class="row">
                {% for thumbnail in developer_thumbnails %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="{{ thumbnail.getMainLink() }}">
                            <div class="info-box">
                                <span class="info-box-icon bg-gray-light">
                                    {% if thumbnail.getMainPictureType() == 'image' and thumbnail.getMainImage() is not empty %}
                                        <img src="{{ thumbnail.getMainImage() }}" alt="{{ thumbnail.getMainText() }}" />
                                    {% elseif thumbnail.getMainPictureType() == 'icon' %}
                                        <i class="{{ thumbnail.getMainIcon() }}"></i>
                                    {% endif %}
                                </span>
                                <div class="info-box-content text-black">
                                    <span class="info-box-text">{{ thumbnail.getMainText() }}</span>
                                    <p>{{ thumbnail.getMainDescription() }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <!-- -->

        </section>
    </div>
{% endblock %}
