<aside class="main-sidebar">
    <section class="sidebar">

        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('uploads/avatars/_default_man.png') }}" class="img-circle" alt="{{ app.user.getFname() }} {{ app.user.getSname() }}">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.getFname() }} {{ app.user.getSname() }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> {{ 'mgc.global.online'|trans({}, "messages", app.request.locale)|capitalize }}</a>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li class="header">{{ 'mgc.global.shortcuts'|trans({}, "messages", app.request.locale)|capitalize }}</li>
            <li>
                <a href="{{ url('home') }}">
                    <i class="fa fa-home"></i> <span>{{ 'mgc.global.home'|trans({}, "messages", app.request.locale)|capitalize }}</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-star"></i> <span>{{ 'mgc.global.my_shortcuts'|trans({}, "messages", app.request.locale)|capitalize }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                </ul>
            </li>

            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-wrench"></i> <span>{{ 'mgc.global.administration'|trans({}, "messages", app.request.locale)|capitalize }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu menu-open">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>

                    <li><a href="{{ url('admin-mgc-users') }}">Utilisateurs</a></li>
                    <li><a href="#">Groupes</a></li>
                    <li><a href="#">Modules</a></li>
                </ul>
            </li>

            <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>
        </ul>

    </section>
</aside>